@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}


:root{
    --blue-clr: #63C7AE;
    --black-bg: #000;
    --white-clr: #fff;
    --gray-clr: #ECECEC;
}

.main-wrapper{
 min-height: 100vh;
 background: var(--black-bg); 
 overflow: hidden;
 scroll-behavior: smooth;

}

.working-area{
    width: 80%;
    margin: auto;
    
}

.logo{
    font-size: 1.8rem;
    color: var(--white-clr);
    font-weight: bold;
}

span{
    color: var(--blue-clr);
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 14vh;
}

a{
    text-decoration: none;
}

li{
    list-style: none;
}

.navlist{
    display: flex;
    gap: 3rem;
    align-items: center;
}
.hamburger{
    cursor: pointer;
    display: none;
    z-index: 5;
}

.burger{
    background: var(--gray-clr);
    width: 2rem;
    border-radius: 2rem;
    height: 0.25rem;
    margin: 0.3rem;
}

.navlinks{
    color: var(--white-clr);
    font-size: .9rem;
    letter-spacing: 0.09rem;
    text-transform: uppercase;
    position: relative;
}

.active{
    color: var(--blue-clr);

}

.navlinks::before,
.active::before{
    content: '';
    position: absolute;
    background: var(--blue-clr);
    width: 0%;
    height: 0.1rem;
     bottom: -10px;
     transition: .5s ease-in-out;
}

.active::before{
    width: 100%;
}

.navlinks:hover:before{
    width: 100%;
}
.navlinks:hover{
    color: var(--blue-clr);
    transition: .5s ease-in-out;
}

.hero-section{
    width: 100%;
    height: calc(100vh - 14vh);
    display: flex;
    align-items: center;
    gap: 3rem;
    isolation: isolate;
    
    
}

/* herbbggbgbbhnnjmjnjjnjnnjnnn g */


h4{
    color: var(--white-clr);
    font-weight: 500;
    letter-spacing: 0.2rem;
}

.circle{
    background: var(--blue-clr);
    height: 20px;
    aspect-ratio: 1;
    border-radius: 50%;
}

.tittle{
    display: flex;
    gap: 1rem;
    align-items: center;
    margin-bottom: 1rem;
}
.content{
    width: 560px;
}

h1{
 color: var(--white-clr);
 font-size: 5rem;
 max-width: 600px;
 letter-spacing: 0.6rem;
 line-height: 6rem;   
}

p{
    color: var(--gray-clr);
     max-width: 600px;
     font-size: 1rem;
     line-height: 1.8rem;
     letter-spacing: 0.1rem;
     margin-block: 1.5rem;
}

.mylinks{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    text-align: center;
    height: 14vh;
    background: var(--black-bg);
    border: .2rem solid var(--blue-clr);

    
}

.links{
    color: var(--white-clr);
    font-size: 1.4rem;
}

.h1{
    color: var(--black-bg);
    font-size: 3rem;
    max-width: 900px;
    text-align: center;
    margin: auto;
    padding-top: 3rem;
}
.btn-container{
    display: flex;
    gap: 1.5rem;
    margin-block: 2rem;
}

button{
    background: var(--blue-clr);
    color: var(--white-clr);
    border: .1rem solid var(--blue-clr);
    padding: 0.8rem 1.5rem;
    font-size: 1rem;
    cursor: pointer;
    transition: .3s ease-in-out;

}

button:hover{
    background: transparent;
}

button a{
     color: var(--white-clr);
}

.border-btn{
background: transparent;
transition: .3s ease-in-out;
}

.border-btn:hover{
    background: var(--blue-clr);
    color: var(--white-clr);
}

.socail-media{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 400px;
}

.socail-media h4{
    font-size: 1.3rem;
}

.socail-icons{
    display: flex;
    gap: 1rem;
}

.fa-brands{
    color: var(--white-clr);
    font-size: 1.2rem;
}

.icon{
    background: var(--blue-clr);
    width: 40px;
    aspect-ratio: 1;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    transition:  transform .3s ease-in-out;
}

.icon:hover{
    transform: translateY(-20%);
    background: var(--blue-clr);
}


.image-container{
    width: 25rem;
    aspect-ratio: 1;
    border-radius: 50%;
    border: .4rem solid var(--blue-clr);
    background-image: url('igm.png');
    background-position: bottom;
    background-size: 100%;
    background-repeat: no-repeat;
    position: relative;
}

.glow{
    width: 16rem;
    aspect-ratio: 1;
    border-radius: 50%;
    background: var(--blue-clr);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    filter: blur(100px);
    z-index: -1;
}


.image-container::before{
    content: '';
    position: absolute;
    inset: -1rem;
    border-radius: inherit;
    border: 1.5rem dotted var(--blue-clr);
    animation: rotation 13s linear infinite;
}

.image-container::after{
    content: '';
    position: absolute;
    inset: -2rem;
    border-radius: inherit;
    border: .55rem dotted var(--blue-clr);
     animation: rotation 15s linear infinite reverse;
   
}

@keyframes rotation{
  100%{
   transform: rotate(360deg);
  }
}

.div-container{
    width: 100%;
    margin-top: 2rem;
}

.container{
    display: flex;
    align-items: center;
    justify-content: space-between; /* aik line mein spacing */
    gap: 20px;
}

.inner-container{
    flex: 1;              /* dono same width */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.inner-container .img{
    width: 100%;
    max-width: 750px;     /* images ka barabar size */
    height: auto;
    object-fit: contain;
}

.btn{
    background: var(--blue-clr);
    color: var(--white-clr);
    border: .1rem solid var(--blue-clr);
    border-radius: 5px;
}
.btn:hover{
background: black;

}

/* ta sbhm idhudj cndjdqkancnbusxbstds jsuyc nhd  */


.whatsapp-float{
  position: fixed;
  bottom: 15px;
  right: 20px;

  width: 60px;
  height: 60px;
  border-radius: 50%;

  background: #25D366;
  color: #fff;

  display: flex;
  align-items: center;
  justify-content: center;



  z-index: 1000;

  box-shadow: 0 0 0 rgba(37, 211, 102, 0.7);
  animation: pulse 1.5s infinite;
}
.what{
      font-size: 32px;
  text-decoration: none;
}

/* hover */
.whatsapp-float:hover{
  transform: scale(1.1);
}

/* pulse animation */
@keyframes pulse{
  0%{
    box-shadow: 0 0 0 0 rgba(37, 211, 102, 0.7);
  }
  70%{
    box-shadow: 0 0 0 15px rgba(37, 211, 102, 0);
  }
  100%{
    box-shadow: 0 0 0 0 rgba(37, 211, 102, 0);
  }
}




@media screen and (max-width: 600px) {

  .hero-section{
    flex-direction: column;
    overflow: scroll;
    scrollbar-width: none; 
    margin-top: 3rem;
  }

  

  .content{
    width: 100%;
    padding: 1.5rem 0;
  }

  h1{
    font-size: 4rem;   
    line-height: 5rem;
    letter-spacing: 1px;
  }

  .h1 span{
    display: block;     
  }

  p{
    font-size: 0.95rem;
    margin-top: 1rem;
    max-width: 100%;
  }

  .mylinks{
    flex-direction: column;
    height: 95vh;
    width: 80%;
    margin: auto;
}

.links{
    color: var(--white-clr);
}

.navlist{
    flex-direction: column;
    background: var(--blue-clr);
    position: absolute;
    justify-content: center;
    top: -100%;
    left: 0;
    right: 0;
    height: 96vh;
    z-index: 4;
    transition: .6s ease-in-out;
}

.navlist-active{
    top: 0;
}
.working-area{
    width: 90%;
}

.image-container{
    width: 20rem;
}
.hamburger{
    display: block;
}
.active,
.navlinks:hover{
    color: var(--black-bg);
}

.navlinks::before{
    background: var(--black-bg);
}

 .container{
        flex-direction: column;
    }

.h1{
    display: none;
    font-size: 1px;
  }
    .main .hamburger{
        position: absolute;
        right: 0px;
        top: 25px;        
    }

    .main .hamburger .burger{
        background: var(--black-bg);
    }

    .inner-container{
        margin-top: 2rem;
    }
    

}


